.ipynb_checkpoints
*.xlsx
*/.ipynb_checkpoints/*
catboost_info/

#исходная база данных для работы
#!ИСП 2013-2023.xlsx
#!Метео 2013-2023.xlsx
#valid_data.xlsx

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/